@inherits UmbracoViewPage
@using Umbraco.Cms.Core.Models;

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var footerSocialLinks = homePage.FooterSocialLinks;
    var address = homePage.Address;
    var description = homePage.FooterDescription;

    var selection = Umbraco.ContentAtRoot().FirstOrDefault()
           .Children()
           .Where(x => x.IsVisible());

    var navigationItems = homePage.MainNavigation;
}



<footer class="footer">
    <div class="grid-system grid-system-within-boundaries">
        <div class="footer__container grid-full-width">
            <div class="footer__container--top">
                <a href="@homePage.Url()" class="nav__logo">
                    <span class="nav__logo--icon"></span>
                    <span class="nav__logo--text">Design &amp; Contracting</span>
                </a>
                @if (description != null)
                {
                    <div class="footer--description">
                        <p>@description</p>
                    </div>
                }

                @if (address != null)
                {
                    <div class="footer--address">
                        <p>@address</p>
                    </div>
                }

                <ul class="footer-links-container__ul">
                    @foreach (var item in navigationItems)
                    {
                        var content = item.Content;
                        var title = content.Value("title");
                        var linkObject = content.Value("Link");
                        var link = linkObject as Umbraco.Cms.Core.Models.Link;
                        var url = string.Empty;
                        var subLinks = content.Value("subLinks");
                        if (link != null)
                        {
                            url = link.Url;
                        }

                        <li class="nav-item footer-links-container--item">
                            <a href="@url" class="nav-link">@title </a>
                        </li>
                    }
                </ul>

            </div>
            <div class="footer__container--bottom">
                <div class="footer__container--bottom-links">

                    @if (footerSocialLinks != null)
                    {
                        <ul class="list-inline text-center social-media-icons">
                            @foreach (var socialLink in footerSocialLinks)
                            {
                                <li>
                                    <a href="@socialLink.Url" target="_blank">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-@socialLink.Name fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>

</footer>