﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "MasterPage.cshtml";
}

@{
    var model = Model;
    var model2 = Model;
}

<div class="grid-system grid-system-within-boundaries">
    <div class="grid-full-width">

        <div class="contact-page-top">
            <div class="contact-page-top__text">
                <div class="contact-page-top__text--title">
                    @Model.Value("title")
                </div>
                <div class="contact-text">
                    @Model.Value("bodyText")
                    @Model.Value("contactPhones")
                </div>

            </div>

            @* Form Rendering*@
            @Model.Value("contactForm")
        </div>


        @if (Model.MapMedia != null)
        {
            <div class="map-conatiner">
                @Model.Value("mapTitle")
                @Model.Value("mapSubtitle")

                @if (Model.MapMedia.Url() != null && Model.MapMedia.Url() != string.Empty)
                {
                    <img src="@Model.MapMedia.Url()" alt="Map" class="map">
                }
            </div>
        }
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        let wholeURL = window.location.href;
        const contactTitleContainer = document.querySelector('.contact-page-top__text--title');
        const contactTextElements = document.querySelector('.contact-text');
        const paragraphs = document.querySelectorAll('.contact-text p');

        if (wholeURL.indexOf("/ar/") !== -1) {
            if (contactTitleContainer) {
                contactTitleContainer.style.textAlign = "right";
                contactTextElements.style.textAlign = "right";
                if (paragraphs) {
                    paragraphs.forEach(function (element) {

                        element.style.justifyContent = "flex-end";
                    });
                }
            }
        }
    });
</script>