@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "MasterPage.cshtml";
}

@{
    var model = Model;
    var model2 = Model;
}

<div class="grid-system grid-system-within-boundaries">
    <div class="grid-full-width">

        <div class="contact-page-top">
            <div class="contact-page-top__text">
                @Model.Value("title")
                @Model.Value("bodyText")
                @Model.Value("contactPhones")
            </div>

            @* Form Rendering*@
            <div class="contact-page-top__form">
            @Model.Value("contactForm")
            </div>
        </div>


        @if (Model.MapMedia != null)
        {
            <div class="map-conatiner">
                @Model.Value("mapTitle")
                @Model.Value("mapSubtitle")

                @if (Model.MapMedia.Url() != null && Model.MapMedia.Url() != string.Empty)
                {
                    <img src="@Model.MapMedia.Url()" alt="Map" class="map">
                }
            </div>
        }
    </div>
</div>
